*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3571AE;
  }
  .container{
  
    width: 440px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  }
  .container h2{
    font-size: 25px;
    font-weight: 500;
    padding: 16px 25px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }